# Copie para keystore.properties somente no seu computador.
# Não envie este arquivo real para GitHub, ZIP público ou chat.

storeFile=play_store_upload/brechorisee_upload.jks
storePassword=TROQUE_PELA_SENHA_DA_CHAVE
keyAlias=brechorisee_upload
keyPassword=TROQUE_PELA_SENHA_DA_CHAVE
